## By: Devanshi Mittal

### Please Note: Data Model (Solution to Problem 1 attached as a png & pdf file)

## Second: Write a query that directly answers a predetermined question from a business stakeholder

### What are the top 5 brands by receipts scanned for most recent month

In [ ]:
## Overall top 5 brands for the most recent month - based of all items on all receipts

## Top 5 - determined by Quantity purchased column

"""
with receipts_most_recent as 
(select _id from receipts where 
FROM_UNIXTIME(floor(dateScanned/1000), 'dd-MMM-yy') >=
    (select FROM_UNIXTIME(floor(max(dateScanned)/1000), concat('01-', 'MMM-yy')) from receipts)),

itemsbought_receipt as
(select receipt_id, * from itemsbought where itemsbought.receipt_id in 
(select * from receipts_most_recent._id)),

brand_with_items as
(select itemsbought_receipt.*, brand.name as brandname from brand, itemsbought_receipt where brand.barcode=itemsbought_receipt.barcode),

select brandname, sum(quantityPurchased) total_items from brand_with_items group by brand order by total_items desc limit 5;


"""

In [ ]:
## Top 5 brands per receipt 

"""
with receipts_most_recent as 
(select _id from receipts where 
FROM_UNIXTIME(floor(dateScanned/1000), 'dd-MMM-yy') >=
    (select FROM_UNIXTIME(floor(max(dateScanned)/1000), concat('01-', 'MMM-yy')) from receipts)),

itemsbought_receipt as
(select receipt_id, * from itemsbought where itemsbought.receipt_id in 
(select * from receipts_most_recent._id)),

groupby_receipt as
(select receipt_id, barcode, sum(quantityPurchased) as totalcnt from itemsbought_receipt group by receipt_id, barcode)

select receipt_id, brand.name as brandname, barcode, row_number() over 
(partition by receipt_id order by totalcnt desc) as rank from brand, 
groupby_receipt where brand.barcode=groupby_receipt.barcode) where rank <=5;


"""

## Third: Evaluate Data Quality Issues in the Data Provided

In [1]:
import pandas as pd
brands=pd.read_json('data/brands.json', lines=True)
users=pd.read_json('data/users.json', lines=True)
receipts=pd.read_json('data/receipts.json', lines=True)

In [2]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [3]:
for i in brands['cpg'][0:10]:
    print(i)

{'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'}
{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, '$ref': 'Cogs'}
{'$id': {'$oid': '601ac142be37ce2ead437559'}, '$ref': 'Cogs'}
{'$id': {'$oid': '601ac142be37ce2ead437559'}, '$ref': 'Cogs'}
{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, '$ref': 'Cogs'}
{'$id': {'$oid': '601ac142be37ce2ead437559'}, '$ref': 'Cogs'}
{'$id': {'$oid': '601ac142be37ce2ead437559'}, '$ref': 'Cogs'}
{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b06aca36af13c6'}}
{'$ref': 'Cogs', '$id': {'$oid': '5a734034e4b0d58f376be874'}}
{'$ref': 'Cogs', '$id': {'$oid': '59ba6f1ce4b092b29c167346'}}

In [4]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [5]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

### Issue 1: User id is not unique so while doing the join from receipts to users table it will cause to create duplicates.

In [6]:
list_barcodes=[]
for receipt in receipts['rewardsReceiptItemList'][0:10]:
    try:
        for i in range(0, len(receipt)):
            for k, v in receipt[i].items():
                if k=='barcode':
                    list_barcodes.append(receipt[i][k])
                    print(receipt[i])
    except:# not every receipt has an itemlist
        pass

{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '26.00', 'itemPrice': '26.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 5, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '26.00', 'userFlaggedQuantity': 5}
{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '1', 'itemPrice': '1', 'partnerItemId': '1', 'quantityPurchased': 1}
{'barcode': '028400642255', 'description': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 'finalPrice': '10.00', 'itemPrice': '10.00', 'needsFetchReview': True, 'needsFetchReviewReason': 'USER_FLAGGED', 'partnerItemId': '2', 'pointsNotAwardedReason': 'Action not allowed for user and CPG', 'pointsPayerId': '5332f5fbe4b03c9a25efd0ba', 'preventTargetGapPoints': True, 'quantityPurchased': 1, 'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE', 'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba', 'userFlaggedBarcode': '028400642255', 'userFlaggedDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 'userFlaggedNewItem': True, 'userFlaggedPrice': '10.00', 'userFlaggedQuantity': 1}
{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '28.00', 'itemPrice': '28.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 4, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '28.00', 'userFlaggedQuantity': 4}
{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '1', 'itemPrice': '1', 'partnerItemId': '1', 'quantityPurchased': 1}
{'barcode': '1234', 'finalPrice': '2.56', 'itemPrice': '2.56', 'needsFetchReview': True, 'needsFetchReviewReason': 'USER_FLAGGED', 'partnerItemId': '2', 'preventTargetGapPoints': True, 'quantityPurchased': 3, 'userFlaggedBarcode': '1234', 'userFlaggedDescription': '', 'userFlaggedNewItem': True, 'userFlaggedPrice': '2.56', 'userFlaggedQuantity': 3}
{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '3.25', 'itemPrice': '3.25', 'needsFetchReview': False, 'originalMetaBriteBarcode': '028400642255', 'originalMetaBriteDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 'partnerItemId': '1', 'pointsNotAwardedReason': 'Action not allowed for user and CPG', 'pointsPayerId': '5332f5fbe4b03c9a25efd0ba', 'preventTargetGapPoints': True, 'quantityPurchased': 1, 'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE', 'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba', 'userFlaggedBarcode': '4011'}
{'barcode': '046000832517', 'brandCode': 'BRAND', 'description': 'Old El Paso Mild Chopped Green Chiles, 4.5 Oz', 'finalPrice': '10.00', 'itemPrice': '10.00', 'partnerItemId': '0', 'pointsNotAwardedReason': 'Action not allowed for user and CPG', 'pointsPayerId': '5332f5f3e4b03c9a25efd0ae', 'quantityPurchased': 1, 'rewardsGroup': 'OLD EL PASO BEANS & PEPPERS', 'rewardsProductPartnerId': '5332f5f3e4b03c9a25efd0ae'}
{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '20.00', 'itemPrice': '20.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 5, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '20.00', 'userFlaggedQuantity': 5}
{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '20.00', 'itemPrice': '20.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 3, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '20.00', 'userFlaggedQuantity': 3}

### Issue 2: There are receipts with an empty ItemList. In that case, there should be a design decision made to add those receipts or not to the database or flag it as something.  Also the information on the ReceiptItemList is very inconsistent - it should be made consistent.

## Fourth: Communicate with Stakeholders



Hello, 

Hope you're doing well! I was taking a look at the data and wanted to go over a couple of issues/questions/concerns I found.

1. Within the Brand Table, we have the 'topBrand' column - could you share the factors that go into determining the top brand? Also, is there any table for CPG collection as we have uid's within the 'cpg' column as well?

2. Within the Receipts table, is the createDate and finishedDate something that is created by Fetch? How is createDate different from dateScanned? Is there a lag between when the receipt is scanned and added to the Fetch System?

3. For the ReceiptItemList, is there a data dictionary I can refer to in order to understand what each item means? 

    Also, I found a lot of possible items that can be populated for the rewardsReceiptItemList - I plan to work with the Data Team to make those entries consistent as it will help get any analytics easier and make the data neater. Do you have any items that you think are required?

    Another point on the rewardsReceiptItemList, there are situations when the receipt has no list. Instead of having a missing entry for those receipts, should we instead have a list flag? Another option is to drop those receipts if they do not have enough information. Any thoughts?

4. Going through the data, within the Users table - I found that the user id column (_id) is not unique. We should make sure they are unique since when performing a join with the receipts table for example it might cause duplicates and produce incorrect results.

Please let me know your thoughts whenever you get the time.